#pierogi{
    padding: 0 10px;
    width: min-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #000000;
    font-size: 14px;
}

#pierogi:nth-child(1){
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    height: 51px;
    transform: translateY(-50px);
}

#pierogi p:nth-child(1){
    width: 30px;
    color: whitesmoke;
}
#pierogi p:nth-child(2){
    width: 685px;
    color: whitesmoke;
}
#pierogi p:nth-child(3){
    width: 100px;
    justify-content: center;
    display: flex;
    color: whitesmoke;
}


@media screen and (max-width: 1600px){
    #pierogi:nth-child(1) {
        height: 50px;
    }
    
    #pierogi p:nth-child(1){
        width: 4vw;
    }
    #pierogi p:nth-child(2){
        width: 34vw;
    }
    
    #pierogi p:nth-child(4) , #pierogi p:nth-child(5){
        width: 4vw;
    }
    
    #pierogi div{
        width: 25vw;
        padding: 0 10px;
    }


}

@media screen and (max-width: 1100px){
    #pierogi:nth-child(1) {
        height: 50px;
    }
    
    #pierogi p:nth-child(1){
        width: 4vw;
    }
    #pierogi p:nth-child(2){
        width: 55vw;
    }
    
    #pierogi p:nth-child(4) , #pierogi p:nth-child(5){
        width: 4vw;
    }
}

@media screen and (max-width: 600px){
    #pierogi:nth-child(1) {
        height: 50px;
        font-size: 12px;
    }
    
    #pierogi p:nth-child(1){
        width: 4vw;
        min-width: 30px;
        font-size: 12px;
    }
    #pierogi p:nth-child(2){
        width: 73vw;
        font-size: 12px;
    }
    #pierogi p:nth-child(3){
        width: 60px;
    }
    #pierogi p:nth-child(4) , #pierogi p:nth-child(5){
        width: 4vw;
    }
}
