#potrawa{
    padding: 0 10px;
    width: min-content;
    display: flex;
    justify-content: start;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}
#potrawa p {
    font-size: 14px;
}

#potrawa:nth-child(1){
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 50px;
    transform: translateY(-50px);
}

#potrawa:nth-child(1) p{
    margin: auto 0;
    
}

#potrawa p:nth-child(1){
    width: 25px;
}
#potrawa p:nth-child(2){
    width: 160px;
}

#potrawa p:nth-child(4) , #potrawa p:nth-child(5){
    width: 50px;
}
#potrawa div{
    width: 600px;
}

#potrawa div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    align-items: center;
    gap: 7px;
    margin: 0;
    padding: 0 15px 0 10px;
    font-weight: 400;
    margin: 5px 0;
}

#potrawa div #sklad {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}





@media screen and (max-width: 1600px){
    
    #potrawa p:nth-child(1){
        width: 2vw;
    }
    #potrawa p:nth-child(2){
        width: 8vw;
    }
    
    #potrawa p:nth-child(4) , #potrawa p:nth-child(5){
        width: 4vw;
    }
    
    #potrawa div{
        width: 25vw;
        padding: 0 10px;
    }

}