#footer {
    display: flex;
    flex-direction: column;
    padding: 40px 10vw;
    font-family: 'Montserrat', sans-serif;
    color: #354259;
}

@media screen and (max-width: 1470px){
    #footer {
        display: flex;
        flex-direction: column;
        padding: 40px 50px;
        font-family: 'Montserrat', sans-serif;
        color: #354259;
        overflow-x: hidden;
    }
}


#footer #line_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer #line_1 #wiecej {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

#footer #line_1 #wiecej div{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: min-content;
}

#footer #line_1 #wiecej div h1{
    font-size: 30px;
    color: #354259;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 0 10px 0;
}


#footer #line_1 #wiecej div#dane{
    max-width: 150px;
}
#footer #line_1 #wiecej div#kontakt{
    max-width: 180px;
}

#footer #line_1 #wiecej div#kontakt #ull{
    max-width: 180px;
}


#footer #line_1 #wiecej div #ull{
    padding: 0 0 0 5px;
    color: #354259;
    font-size: 20px;
    max-width: 220px;
}
#footer #line_1 #wiecej div #ull li{
    list-style-type: none;
    margin-bottom: 5px;
    width: auto;
}



iframe{
    width:500px;
    height:350px;
    border: 0;
    border-radius: 12px;
}

#glovo{
    text-decoration: none;
    color: #354259;
}


#footer #line_2{
    margin: 30px 10px 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
    color: #354259;
}

#linia {
    position: absolute;
    height: 1px;
    width: 100%;
    border-radius: 8px;
    background-color: #354259; 
}
