#footer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 180px 10vw 10px 10vw;
    font-family: 'Poppins', sans-serif;
    color: #F3F8FF;
}

@media screen and (max-width: 1570px){
    /* #footer {
        display: flex;
        flex-direction: column;
        padding: 40px 2vw 10px 2vw;
        font-family: 'Poppins', sans-serif;
        width: 96vw;
        color: #F3F8FF;
        overflow-x: hidden;
    } */
    #footer {
        display: flex;
        flex-direction: column;
        padding: 180px 0 10px 0;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        width: 100vw;
        color: #F3F8FF;
        overflow-x: hidden;
    }
}


#footer #line_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

#footer #line_1 #wiecej {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

#footer #line_1 #wiecej div{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: min-content;
}

#footer #line_1 #wiecej div h1{
    font-size: 20px;
    color: #F3F8FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0 0 0 0;
}


#footer #line_1 #wiecej div#dane{
    max-width: 150px;
}
#footer #line_1 #wiecej div#kontakt{
    max-width: 180px;
}

#footer #line_1 #wiecej div#kontakt #ull{
    max-width: 180px;
}


#footer #line_1 #wiecej div #ull{
    padding: 0 0 0 1px;
    color: #F3F8FF;
    max-width: 220px;
}
#footer #line_1 #wiecej div #ull li{
    list-style-type: none;
    margin-bottom: 5px;
    width: auto;
    font-size: 17px;
}



iframe{
    width:35vw;
    height:300px;
    border: 0;
    border-radius: 12px;
}

#glovo{
    text-decoration: none;
    color: #9500ffce;
    transition: 0.3s;
}
#Domenu {
    text-decoration: none;
    color: #9500ffce;
}

#glovo:hover , #Domenu:hover{
    color: #9400FF;
}

#footer #line_2{
    margin: 30px 10px 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
    color: #F3F8FF;
}

#linia {
    position: absolute;
    height: 1px;
    width: 98%;
    border-radius: 8px;
    background-color: #F3F8FF; 
}

#prawa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
#linki{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width:1000px){
    #mapa{
        display: none;
    }
    #footer #line_1 {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
}

@media screen and (max-width: 800px){
    #prawa{
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    #prawa p{
        font-size: 12px;
        text-align: center;
    }
    #footer #line_1 #wiecej  {
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
    #footer #line_1 #wiecej div{
        width: 200px;
        max-width: 200px;
        
    }
    #footer #line_1 #wiecej div#kontakt, #footer #line_1 #wiecej div#dane {
        max-width: 200px;
    }
}