#itemy{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    font-family: 'Montserrat', sans-serif;
    padding: 50px 0 50px 0 ;
}
#col1{
    padding: 0 7vw;
}

@media screen and (max-width: 1900px){
    #itemy{
        padding: 50px 0 50px 0 ;
    }
    #itemy #tekst {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 3vw 0 3vw ;
    }
    #col1{
        padding: 0 10px;
    }
}


#linia_2{
    position: absolute;
    height: 2px;
    width: 60px;
    border-radius: 30px;
    background-color: #354259;
}

#itemy #tekst{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#itemy #tekst #col1 h1{
    font-weight: 900;
    margin: 10px 0 0 0 ;
    font-size: 45px;
}
#itemy #tekst #col1 h5{
    font-weight: 500;
}

#col2 button{
    padding: 10px 32px;
    background: none;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #354259;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.4s ease;
    
}
#col2 button:hover{
    background-color: #354259;
    color: white;
}

#polecane_itemy {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start;
    max-height: 470px; 
    overflow: hidden;
}

#polecane_itemy > * {
    visibility: hidden; 
}

#polecane_itemy > *:nth-child(-n+4) {
    visibility: visible;
}



#polecany{
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
}
#polecany #image{
    width: 280px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 10px 10px 0 0;
}
#polecany #image img{
    object-fit: contain;
    transition: 0.3s ease;
}
#polecany #opis{
    padding: 8px 24px;
}
#polecany #opis h2{
    font-weight: 800;
    height: 50px;
}
#polecany #opis h4{
    font-weight: 400;
}
#polecany:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#polecany:hover #image img{
    scale: 1.1;
}

#potrawa{
    padding: 0 10px;
    width: min-content;
    display: flex;
    justify-content: start;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}
#potrawa p {
    font-size: 15px;
}

#potrawa:nth-child(1){
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
}



ul{
    width: 80vw;
}






#menu{
    display: flex;
    flex-direction: row-reverse;
}
#lista_filtrow {
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    width: 200px;
}


#lista_filtrow button {
    font-family: 'Montserrat', sans-serif;
    margin: 2px 0;
    background: none;
    border: 1px solid black;
    padding: 6px 12px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#lista_filtrow button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); 
    transition: left 0.5s ease;
    z-index: -1;
}

#lista_filtrow button:hover::before {
    left: 0;
}

#lista_filtrow button a {
    z-index: 1000;
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
}
#lista_filtrow button:hover a {
    color: white;
}