@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


button{
    cursor: pointer;
}


#main {
    width: 100vw;
    height: 100vh;
    min-height: 800px;
}

#main div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0; 
    padding-top: 100px;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

@media screen and (min-width:1300px){
    #main {
        min-height: 800px;
    }
}




#main div p {
    z-index: 100;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 82px;
    font-weight: bold;
    margin: 5px 5px 5px 13%;
    width: 600px;
}
#main p span{
    color: #D80032;
}

#main div h4 {
    z-index: 100;
    color: #777;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 5px 5px 5px 13%;
    padding-top: 40px;
    font-weight: 500;
    width: 460px;
}

#main div #dwa{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    margin: 5px 5px 5px 12%;
    padding: 100px 0 0 0;
    height: auto;
}

#main div #dwa #order{
    border: none;
    font-size: 20px;
    padding: 16px 64px;
    border-radius: 1000px;
    background-color: #D80032;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}
#main div #dwa #order:hover{
    background-color: white;
    color: #d80032e5;
}


#main div #dwa #seemenu{
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 20px;
    padding: 0 0 0 32px;
    background: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
#main div #dwa #seemenu img{
    width: 35px;
    padding-left: 5px;
    transition: 0.1s;
}
#main div #dwa #seemenu:hover img{
    transform: translateX(5px);
}


@media screen and (max-width: 1270px){
    #main div p, #main div h4, #main div #dwa {
        margin: 5px 5px 5px 5%;
    }

    #main div p {
        font-size: 55px;
        width: 600px;
        max-width: 450px;
    }

    #main div h4 {
        font-size: 15px;
        padding-top: 40px;
        width: 50vw;
        max-width: 450px;
    }
    #main div #dwa{
        justify-content: flex-start;
        width: 60vw;
        flex-wrap: wrap;
        padding: 3vh 0 0 0;
        height: auto;
        row-gap: 30px;
    }
    #main{
        padding-top: 5vh;
        min-height: 600px;
    }
    #main div{
        height: 80vh;
    }
    #main div #dwa #seemenu{
        border: none;
        font-size: 21px;
        padding: 16px 50px;
        background: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
    }
}
@media screen and (max-width: 1100px){
    #main{
        padding-top: 5vh;
    
    }
    #main div{
        padding-top: 70px;
        height: 70vh;
    }
    
}


@media screen and (max-width: 880px){
    #main div p {
        font-size: 55px;
        width: 80vw;
        max-width: 450px;
    }

    #main div h4 {
        font-size: 15px;
        padding-top: 40px;
        width: 80vw;
        max-width: 450px;
    }
    #main div #dwa{
        justify-content: flex-start;
        width: auto;
        flex-wrap: wrap;
        padding: 3vh 0 0 0;
        height: auto;
        row-gap: 30px;
    }
    #main{
        min-height: 600px;
        max-height: 80vh;
    }
    #main div{
        padding-top: 20vh;
        height: auto;
        max-height: 55vh;
    }
}


@media screen and (max-width: 650px){

    #main div p {
        font-size: 50px;
        width: 70vw;
        max-width: 450px;
    }

    #main div h4 {
        font-size: 15px;
        padding-top: 40px;
        width: 60vw;
        max-width: 70vw;
    }
    #main div #dwa{
        justify-content: flex-start;
        width: auto;
        flex-wrap: wrap;
        align-items: flex-start;
        align-items: center;
        padding: 8vh 0 0 0;
        height: auto;
        row-gap: 10px;
    }
    #main{
        padding-top: 5vh;
        min-height: 600px;
    }
    #main div{
        height: 80vh;
    }

    #main div #dwa #order{
        font-size: 18px;
        padding: 8px 32px;
        border-radius: 1000px;
        background-color: #D80032;
        color: white;
        transition: 0.2s;
    }
    #main div #dwa #seemenu{
        font-size: 18px;
        padding: 8px 15px;
    }
}


@media screen and (max-width: 480px){

    #main div p {
        font-size: 40px;
        width: 90vw;
        max-width: 450px;
    }

    #main div h4 {
        font-size: 15px;
        padding-top: 40px;
        width: 65vw;
        max-width: 65vw;
    }
    #main div #dwa{
        justify-content: flex-start;
        width: 60vw;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        padding: 8vh 0 0 0;
        height: auto;
        row-gap: 10px;
    }
    #main{
        padding-top: 1vh;
        min-height: 600px;
    }
    #main div{
        height: 80vh;
    }

    #main div #dwa #order{
        font-size: 18px;
        padding: 8px 32px;
        border-radius: 1000px;
        background-color: #D80032;
        color: white;
        transition: 0.2s;
    }
    #main div #dwa #seemenu{
        font-size: 18px;
        padding: 8px 15px;
    }
}