

nav{
    background-color: #FCD8D4;
}


#itemy{
    background-color: #FFF2F2;
}

#footer{
    background-color: #FCD8D4;
}
button{
    cursor: pointer;
}


#main {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0; 
    position: relative;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.733);
    width: 100vw;
    height: 100vh;
}

#main video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    position: fixed;
}
#main p {
    z-index: 100;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 900;
    margin: 5px;
}