nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 10px 0 30px 0;
    align-items: center;
    justify-content: center;
    column-gap: 20vw;
    flex-wrap: wrap;
    z-index: 1000;
    background-color: #00000000;
    backdrop-filter: blur(1px); 
    transition: 0.5s ;
}
nav.scrolled {
    background-color: black;
}

#logo_img{
    padding: 14px 24px;
    width: 200px;
}
#links {
    display: flex;
    gap: 25px;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    position: relative;
    padding: 12px 50px;
    border-radius: 30px;
    transition: 0.5s;
}

#links button {
    position: relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    background: none;
    border: 0;
    padding: 4px 8px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
#extras button{
    border: none;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 1000px;
    background: none;
    color: #fcfcfc;
    font-weight: 500;
    transition: 0.3s;
    text-align: center;
}
#extras button:hover{
    color: white;
}
#links button a{
    transition: all 0.3s;
    text-decoration: none;
    color: #b3b3b3;
}

#links button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.35s; 
}
#links button:hover a{
    color: white;
}
#links button:hover::before{
    width: 100%;
}


@media screen and (max-width:1600px){
    nav {
        width: 70vw;
        margin: 50px 15vw 0 15vw;
        column-gap: 0;
        padding: 0;
        border-radius: 32px;
        padding: 5px 0px;
        align-items: center;
        background-color: #000000;
        margin-top: 10px;
    }
}


@media screen and (max-width:1280px){
    #nav{
        background: black;
        column-gap: 0;
        padding:  5px;
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (max-width:1000px){
    #extras{
        display: none;
    }
    #nav{
        width: 96vw;
        justify-content: space-between;
        padding: 5px 2vw;
    }
}


@media screen and (max-width: 770px) {
    #nav{
        width: 100vw;
        margin: 0;
        padding: 20px 0;
        position: absolute;
        align-items: center;
        background: none;
    }
    #logo{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo_img{
        width: 40%;
    }
    #links {
        display: none;
    }
}




@media screen and (max-width: 550px) {
    #logo_img{
        width: 70vw;
    }
    #links button a{
        font-size: 12px;
    }
}