nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 7px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20vw;
    z-index: 1000;
}

#logo_img{
    width: 400px;
}
#links {
    display: flex;
    gap: 25px;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    position: relative;
}

#links button {
    position: relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    background: none;
    color: #E8E8E8;
    border: 0;
    padding: 4px 8px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s;
}

#links button a{
    text-decoration: none;
    color: #E8E8E8;
}

#links button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #E8E8E8;
    transition: width 0.35s; 
}

#links button:hover::before {
    width: 100%;
}




@media screen and (max-width: 550px) {
    #logo_img{
        width: 70vw;
    }
    #links button a{
        font-size: 12px;
    }
}