

#pierogi{
    padding: 0 10px;
    width: min-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border-bottom: 1px solid #000000;
    font-size: 14px;
}

#pierogi:nth-child(1){
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 51px;
    transform: translateY(-50px);
}

#pierogi p:nth-child(1){
    width: 30px;
}
#pierogi p:nth-child(2){
    width: 670px;
}
#pierogi p:nth-child(3){
    width: 70px;
}

