ul{
    width: 80vw;
}

#potrawa{
    padding: 0 10px;
    width: min-content;
    display: flex;
    justify-content: start;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}
#potrawa p {
    font-size: 15px;
}

#potrawa:nth-child(1){
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    height: 50px;
}

#potrawa:nth-child(1) p{
    margin: auto 0;
    
}




#potrawa p:nth-child(1){
    width: 30px;
}
#potrawa p:nth-child(2){
    width: 300px;
}

#potrawa p:nth-child(4){
    width: 70px;
}
#potrawa p:nth-child(5){
    width: 70px;
}

#potrawa div{
    display: flex;
    flex-direction: row;
    width: 800px;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-weight: 400;
}

#potrawa div #sklad {
    font-weight: 400;
}