#real_menu{
    width: 100vw;
    height: 800px;
    background-color: #a9c1a9;
    display: flex;
    flex-direction: row;
}

#square1{
    padding: 50px;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

#mn{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#mn h1{
    font-weight: 900;
    margin: 10px 0px 0px;
    font-size: 45px;
}

#square2{
    background: url('https://images.ctfassets.net/eum7w7yri3zr/6VdGzsyqFMAmcwCzkkAuDT/9c07515de5da9e0b427160c377424f55/GGoogle-App-Campaign-sweetpass-1200x1200.jpg?w=1200&q=75&fm=avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: min-content;
    height: 100%;
}



#dlamenu{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    align-items: center;
}


#square1 ul{
    width: min-content;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin; 
    scrollbar-color: #000000 transparent;
}

#menu_lista{
    width: 100%;
}

#menu_lista > ul{
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1600px){
    #mn{
        margin: 3vh 0 0 5vw;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #menu_lista > ul{
        width: 47vw;
        margin: 0 auto;
    }
    #square1{
        padding: 0;
    }
}