body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}



#real_menu{
    background-color: #101720;
}

#itemy{
    background: url('https://img.freepik.com/darmowe-zdjecie/kamien-tekstury_1194-5387.jpg?t=st=1710022490~exp=1710026090~hmac=8cffaf26d3080f380cd8373bba626bd6a326c3f07595bb9bd53dc6af72fd9a51&w=996');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#footer{
    background-color: #101720;
}

#main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/wc5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: #101720;
    background: none;
}

