body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
}



#real_menu{
    background-color: #101720;
}

#itemy{
    background-color: #F9F9FB;
}

#footer{
    background-color: #101720;
    background: url('../images/wave-haikei\ \(17\).svg');
    background-size: cover;
}

#main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/wc5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: #101720;
}

